<p>
  <b>Commenter:</b>
  <%= response.user.name %>
</p>

<p>
  <b>Comment:</b>
  <%= response.text %>
</p>

<p>
  <%= link_to 'Destroy Comment', [response.respondable, response],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
