<% answer.responses.each do |response| %>
<p>
  <b>Responder:</b>
  <%= response.user.name %>
</p>

<p>
  <b>Response Text:</b>
  <%= response.text %>
</p>

<p>
  <%= link_to 'Delete Response', [answer, response],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
<% end %>